In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [35]:
schools=school_data_complete["school_name"].unique()
len(schools)
total_students=len(school_data_complete["student_name"])
total_budget=school_data_complete["budget"].sum()
average_reading_score=school_data_complete["reading_score"].mean()
average_math_score=school_data_complete["math_score"].mean()
reading_pass=(school_data_complete["reading_score"] >= 70).sum()
reading_percentage=(reading_pass/total_students)*100
math_pass=(school_data_complete["math_score"] >= 70).sum()
math_percentage=(math_pass/total_students)*100
overall_pass_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"]  >= 70)]
len(overall_pass_df)
overall_percentage=(len(overall_pass_df)/total_students)*100
overall_percentage
school_df=[["Total Schools", len(schools)], ["Total Students", total_students], ["District Budget", total_budget], ["Average Reading Score", average_reading_score], ["Average Math Score", average_math_score], ["Reading 70% or above", reading_pass], ["Reading Pass %", reading_percentage], ["Math 70% or above", math_pass], ["Math Pass %", math_percentage], ["Math & Reading 70% or above", overall_percentage]]
school_df
df=pd.DataFrame(school_df)
pd.options.display.float_format = "{:,.2f}".format
df
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [36]:
## School Sum
#schools
huang = school_data_complete.loc[(school_data_complete["school_name"] == "Huang High School")]
figueroa = school_data_complete.loc[(school_data_complete["school_name"] == "Figueroa High School")]
shelton = school_data_complete.loc[(school_data_complete["school_name"] == "Shelton High School")]
hernandez = school_data_complete.loc[(school_data_complete["school_name"] == "Hernandez High School")]
griffin = school_data_complete.loc[(school_data_complete["school_name"] == "Griffin High School")]
wilson = school_data_complete.loc[(school_data_complete["school_name"] == "Wilson High School")]
cabrera = school_data_complete.loc[(school_data_complete["school_name"] == "Cabrera High School")]
bailey = school_data_complete.loc[(school_data_complete["school_name"] == "Bailey High School")]
holden = school_data_complete.loc[(school_data_complete["school_name"] == "Holden High School")]
pena = school_data_complete.loc[(school_data_complete["school_name"] == "Pena High School")]
wright = school_data_complete.loc[(school_data_complete["school_name"] == "Wright High School")]
rodriguez = school_data_complete.loc[(school_data_complete["school_name"] == "Rodriguez High School")]
johnson = school_data_complete.loc[(school_data_complete["school_name"] == "Johnson High School")]
ford = school_data_complete.loc[(school_data_complete["school_name"] == "Ford High School")]
thomas = school_data_complete.loc[(school_data_complete["school_name"] == "Thomas High School")]
huang.describe()

School = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

School_Type = [(huang["type"]).unique(), (figueroa["type"]).unique(), (shelton["type"]).unique(), (hernandez["type"]).unique(), (griffin["type"]).unique(), (wilson["type"]).unique(), (cabrera["type"]).unique(), (bailey["type"]).unique(), (holden["type"]).unique(), (pena["type"]).unique(), (wright["type"]).unique(), (rodriguez["type"]).unique(), (johnson["type"]).unique(), (ford["type"]).unique(), (thomas["type"]).unique()]

Total_Students =[len(huang["Student ID"]), len(figueroa["Student ID"]), len(shelton["Student ID"]), len(hernandez["Student ID"]), len(griffin["Student ID"]), len(wilson["Student ID"]), len(cabrera["Student ID"]), len(bailey["Student ID"]), len(holden["Student ID"]), len(pena["Student ID"]), len(wright["Student ID"]), len(rodriguez["Student ID"]), len(johnson["Student ID"]), len(ford["Student ID"]), len(thomas["Student ID"])]

Total_Budget = [(huang["budget"].mean()), (figueroa["budget"].mean()), (shelton["budget"].mean()), (hernandez["budget"].mean()), (griffin["budget"].mean()), (wilson["budget"].mean()), (cabrera["budget"].mean()), (bailey["budget"].mean()), (holden["budget"].mean()), (pena["budget"].mean()), (wright["budget"].mean()), (rodriguez["budget"].mean()), (johnson["budget"].mean()), (ford["budget"].mean()), (thomas["budget"].mean())]

Budget_per_student =[(huang["budget"].mean())/len(huang["Student ID"]), (figueroa["budget"].mean())/len(figueroa["Student ID"]), (shelton["budget"].mean())/len(shelton["Student ID"]), (hernandez["budget"].mean())/len(hernandez["Student ID"]), (griffin["budget"].mean())/len(griffin["Student ID"]), (wilson["budget"].mean())/len(wilson["Student ID"]), (cabrera["budget"].mean())/len(cabrera["Student ID"]), (bailey["budget"].mean())/len(bailey["Student ID"]), (holden["budget"].mean())/len(holden["Student ID"]), (pena["budget"].mean())/len(pena["Student ID"]), (wright["budget"].mean())/len(wright["Student ID"]), (rodriguez["budget"].mean())/len(rodriguez["Student ID"]), (johnson["budget"].mean())/len(johnson["Student ID"]), (ford["budget"].mean())/len(ford["Student ID"]), (thomas["budget"].mean())/len(thomas["Student ID"])]

Average_Math_Score =[(huang["math_score"]).mean(), (figueroa["math_score"]).mean(), (shelton["math_score"]).mean(), (hernandez["math_score"]).mean(), (griffin["math_score"]).mean(), (wilson["math_score"]).mean(), (cabrera["math_score"]).mean(), (bailey["math_score"]).mean(), (holden["math_score"]).mean(), (pena["math_score"]).mean(), (wright["math_score"]).mean(), (rodriguez["math_score"]).mean(), (johnson["math_score"]).mean(), (ford["math_score"]).mean(), (thomas["math_score"]).mean()]

Average_Reading_Score =[(huang["reading_score"]).mean(), (figueroa["reading_score"]).mean(), (shelton["reading_score"]).mean(), (hernandez["reading_score"]).mean(), (griffin["reading_score"]).mean(), (wilson["reading_score"]).mean(), (cabrera["reading_score"]).mean(), (bailey["reading_score"]).mean(), (holden["reading_score"]).mean(), (pena["reading_score"]).mean(), (wright["reading_score"]).mean(), (rodriguez["reading_score"]).mean(), (johnson["reading_score"]).mean(), (ford["reading_score"]).mean(), (thomas["reading_score"]).mean()]

Percent_Passing_Math = [((huang["math_score"] >= 70).sum())/len(huang["Student ID"])*100, ((figueroa["math_score"] >= 70).sum())/len(figueroa["Student ID"])*100, ((shelton["math_score"] >= 70).sum())/len(shelton["Student ID"])*100, ((hernandez["math_score"] >= 70).sum())/len(hernandez["Student ID"])*100, ((griffin["math_score"] >= 70).sum())/len(griffin["Student ID"])*100, ((wilson["math_score"] >= 70).sum())/len(wilson["Student ID"])*100, ((cabrera["math_score"] >= 70).sum())/len(cabrera["Student ID"])*100, ((bailey["math_score"] >= 70).sum())/len(bailey["Student ID"])*100, ((holden["math_score"] >= 70).sum())/len(holden["Student ID"])*100, ((pena["math_score"] >= 70).sum())/len(pena["Student ID"])*100, ((wright["math_score"] >= 70).sum())/len(wright["Student ID"])*100, ((rodriguez["math_score"] >= 70).sum())/len(rodriguez["Student ID"])*100, ((johnson["math_score"] >= 70).sum())/len(johnson["Student ID"])*100, ((ford["math_score"] >= 70).sum())/len(ford["Student ID"])*100, ((thomas["math_score"] >= 70).sum())/len(thomas["Student ID"])*100]

Percent_Passing_Reading = [((huang["reading_score"] >= 70).sum())/len(huang["Student ID"])*100, ((figueroa["reading_score"] >= 70).sum())/len(figueroa["Student ID"])*100, ((shelton["reading_score"] >= 70).sum())/len(shelton["Student ID"])*100, ((hernandez["reading_score"] >= 70).sum())/len(hernandez["Student ID"])*100, ((griffin["reading_score"] >= 70).sum())/len(griffin["Student ID"])*100, ((wilson["reading_score"] >= 70).sum())/len(wilson["Student ID"])*100, ((cabrera["reading_score"] >= 70).sum())/len(cabrera["Student ID"])*100, ((bailey["reading_score"] >= 70).sum())/len(bailey["Student ID"])*100, ((holden["reading_score"] >= 70).sum())/len(holden["Student ID"])*100, ((pena["reading_score"] >= 70).sum())/len(pena["Student ID"])*100, ((wright["reading_score"] >= 70).sum())/len(wright["Student ID"])*100, ((rodriguez["reading_score"] >= 70).sum())/len(rodriguez["Student ID"])*100, ((ford["reading_score"] >= 70).sum())/len(ford["Student ID"])*100, ((johnson["reading_score"] >= 70).sum())/len(johnson["Student ID"])*100, ((thomas["reading_score"] >= 70).sum())/len(thomas["Student ID"])*100]

# test= [(len(huang.loc[(huang["math_score"] >= 70) & (huang["reading_score"]  >= 70)])/len(huang["Student ID"]))*100]

Overall_Passing= [(len(huang.loc[(huang["math_score"] >= 70) & (huang["reading_score"]  >= 70)])/len(huang["Student ID"]))*100], [(len(figueroa.loc[(figueroa["math_score"] >= 70) & (figueroa["reading_score"]  >= 70)])/len(figueroa["Student ID"]))*100], [(len(shelton.loc[(shelton["math_score"] >= 70) & (shelton["reading_score"]  >= 70)])/len(shelton["Student ID"]))*100], [(len(hernandez.loc[(hernandez["math_score"] >= 70) & (hernandez["reading_score"]  >= 70)])/len(hernandez["Student ID"]))*100], [(len(griffin.loc[(griffin["math_score"] >= 70) & (griffin["reading_score"]  >= 70)])/len(griffin["Student ID"]))*100], [(len(wilson.loc[(wilson["math_score"] >= 70) & (wilson["reading_score"]  >= 70)])/len(wilson["Student ID"]))*100], [(len(cabrera.loc[(cabrera["math_score"] >= 70) & (cabrera["reading_score"]  >= 70)])/len(cabrera["Student ID"]))*100], [(len(bailey.loc[(bailey["math_score"] >= 70) & (bailey["reading_score"]  >= 70)])/len(bailey["Student ID"]))*100], [(len(holden.loc[(holden["math_score"] >= 70) & (holden["reading_score"]  >= 70)])/len(holden["Student ID"]))*100], [(len(pena.loc[(pena["math_score"] >= 70) & (pena["reading_score"]  >= 70)])/len(pena["Student ID"]))*100], [(len(wright.loc[(wright["math_score"] >= 70) & (wright["reading_score"]  >= 70)])/len(wright["Student ID"]))*100], [(len(rodriguez.loc[(rodriguez["math_score"] >= 70) & (rodriguez["reading_score"]  >= 70)])/len(rodriguez["Student ID"]))*100], [(len(ford.loc[(ford["math_score"] >= 70) & (ford["reading_score"]  >= 70)])/len(ford["Student ID"]))*100], [(len(johnson.loc[(johnson["math_score"] >= 70) & (johnson["reading_score"]  >= 70)])/len(johnson["Student ID"]))*100], [(len(thomas.loc[(thomas["math_score"] >= 70) & (thomas["reading_score"]  >= 70)])/len(thomas["Student ID"]))*100]

school_tuples=zip(School, School_Type, Total_Students, Total_Budget, Budget_per_student, Average_Math_Score, Average_Reading_Score, Percent_Passing_Math, Percent_Passing_Reading, Overall_Passing)

school_overview_df = pd.DataFrame (school_tuples, columns= ["School", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

pd.options.display.float_format = "{:,.2f}".format
school_overview_df

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,[District],2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,[53.51388412752828]
1,Figueroa High School,[District],2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,[53.20447609359105]
2,Shelton High School,[Charter],1761,"1,056,600.00",600.00,83.36,83.73,93.87,95.85,[89.89210675752413]
3,Hernandez High School,[District],4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,[53.52750809061489]
4,Griffin High School,[Charter],1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,[90.59945504087193]
5,Wilson High School,[Charter],2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,[90.58256679807272]
6,Cabrera High School,[Charter],1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,[91.33476856835307]
7,Bailey High School,[District],4976,"3,124,928.00",628.00,77.05,81.03,66.68,81.93,[54.64228295819936]
8,Holden High School,[Charter],427,"248,087.00",581.00,83.80,83.81,92.51,96.25,[89.22716627634661]
9,Pena High School,[Charter],962,"585,858.00",609.00,83.84,84.04,94.59,95.95,[90.54054054054053]
10,Wright High School,[Charter],1800,"1,049,400.00",583.00,83.68,83.95,93.33,96.61,[90.33333333333333]
11,Rodriguez High School,[District],3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,[52.988247061765435]
12,Johnson High School,[District],4761,"3,094,650.00",650.00,77.07,80.97,66.06,79.30,[54.289886820007304]
13,Ford High School,[District],2739,"1,763,916.00",644.00,77.10,80.75,68.31,81.22,[53.53917244276413]
14,Thomas High School,[Charter],1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,[90.94801223241589]

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [37]:
next
s = pd.Series(["% Overall Passing"])
pd.to_numeric(s, errors='coerce')

0   nan
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [38]:
my_groupby=school_overview_df["% Overall Passing"]
overall_passing_df = school_overview_df.sort_values(["% Overall Passing"], ascending=False)
overall_passing_df.head()

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,[Charter],1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,[91.33476856835307]
14,Thomas High School,[Charter],1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,[90.94801223241589]
4,Griffin High School,[Charter],1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,[90.59945504087193]
5,Wilson High School,[Charter],2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,[90.58256679807272]
9,Pena High School,[Charter],962,"585,858.00",609.00,83.84,84.04,94.59,95.95,[90.54054054054053]

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [39]:
lowest_performers_df = school_overview_df.sort_values(["% Overall Passing"], ascending=True)
lowest_performers_df.head()

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,[District],3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,[52.988247061765435]
1,Figueroa High School,[District],2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,[53.20447609359105]
0,Huang High School,[District],2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,[53.51388412752828]
3,Hernandez High School,[District],4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,[53.52750809061489]
13,Ford High School,[District],2739,"1,763,916.00",644.00,77.10,80.75,68.31,81.22,[53.53917244276413]

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [40]:
ninth_graders = school_data_complete[school_data_complete['grade']=="9th"]
tenth_graders = school_data_complete[school_data_complete['grade']=="10th"]
eleventh_graders = school_data_complete[school_data_complete['grade']=="11th"]
twelfth_graders = school_data_complete[school_data_complete['grade']=="12th"]

grade_9_math = ninth_graders.groupby("school_name").mean()['math_score']
grade_10_math = tenth_graders.groupby("school_name").mean()['math_score']
grade_11_math = eleventh_graders.groupby("school_name").mean()['math_score']
grade_12_math = twelfth_graders.groupby("school_name").mean()['math_score']

math_scores_by_grade = pd.DataFrame({"9th Grade" : grade_9_math, "10th Grade": grade_10_math, "11th Grade": grade_11_math, "12th Grade": grade_12_math})
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [41]:
ninth_graders = school_data_complete[school_data_complete['grade']=="9th"]
tenth_graders = school_data_complete[school_data_complete['grade']=="10th"]
eleventh_graders = school_data_complete[school_data_complete['grade']=="11th"]
twelfth_graders = school_data_complete[school_data_complete['grade']=="12th"]

grade_9_reading = ninth_graders.groupby("school_name").mean()['reading_score']
grade_10_reading = tenth_graders.groupby("school_name").mean()['reading_score']
grade_11_reading = eleventh_graders.groupby("school_name").mean()['reading_score']
grade_12_reading = twelfth_graders.groupby("school_name").mean()['reading_score']

reading_scores_by_grade = pd.DataFrame({"9th Grade": grade_9_reading, "10th Grade" : grade_10_reading, "11th Grade": grade_11_reading, "12th Grade": grade_12_reading})
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         81.30       80.91       80.95       80.91
Cabrera High School        83.68       84.25       83.79       84.29
Figueroa High School       81.20       81.41       80.64       81.38
Ford High School           80.63       81.26       80.40       80.66
Griffin High School        83.37       83.71       84.29       84.01
Hernandez High School      80.87       80.66       81.40       80.86
Holden High School         83.68       83.32       83.82       84.70
Huang High School          81.29       81.51       81.42       80.31
Johnson High School        81.26       80.77       80.62       81.23
Pena High School           83.81       83.61       84.34       84.59
Rodriguez High School      80.99       80.63       80.86       80.38
Shelton High School        84.12       83.44       84.37       82.78
Thomas High School         83.73       84.25       83.59       83.83
Wilson High School         83.94       84.02       83.76       84.32
Wright High School         83.83       83.81       84.16       84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [42]:
bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = school_overview_df
school_spending_df["Spent Per Student"] = pd.cut(Budget_per_student, bins, labels=group_names, right=False)
school_spending_df
spending_math_scores = school_spending_df.groupby(["Spent Per Student"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spent Per Student"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spent Per Student"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spent Per Student"]).mean()["% Passing Reading"]

spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores.round(2),
                                 "Average Reading Score": spending_reading_scores.round(2),
                                 "% Passing Math": spending_passing_math.round(2),
                                 "% Passing Reading": spending_passing_reading.round(2),
                                })
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Spent Per Student,,,,
<$585,83.46,83.93,93.46,96.61
$585-630,81.90,83.16,87.13,92.72
$630-645,78.52,81.62,73.48,84.87
$645-680,77.00,81.03,66.16,80.49

## Scores by School Size

* Perform the same operations as above, based on school size.

In [43]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
per_school_summary = school_overview_df

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names, right=False)
per_school_summary

size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]

size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
School Size,,,,
Small (<1000),83.82,83.93,93.55,96.10
Medium (1000-2000),83.37,83.86,93.60,96.79
Large (2000-5000),77.75,81.34,69.96,82.77

## Scores by School Type

* Perform the same operations as above, based on school type

In [56]:
type_math_scores = school_data_complete.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_data_complete.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_data_complete.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_data_complete.groupby(["School Type"]).mean()["% Passing Reading"]


type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading})


type_summary

KeyError: 'School Type'