In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
schools=school_data_complete["school_name"].unique()
len(schools)
total_students=len(school_data_complete["student_name"])
total_budget=school_data_complete["budget"].sum()
average_reading_score=school_data_complete["reading_score"].mean()
average_math_score=school_data_complete["math_score"].mean()
reading_pass=(school_data_complete["reading_score"] >= 70).sum()
reading_percentage=(reading_pass/total_students)*100
math_pass=(school_data_complete["math_score"] >= 70).sum()
math_percentage=(math_pass/total_students)*100
overall_pass_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"]  >= 70)]
len(overall_pass_df)
overall_percentage=(len(overall_pass_df)/total_students)*100
overall_percentage
school_df=[["Total Schools", len(schools)], ["Total Students", total_students], ["District Budget", total_budget], ["Average Reading Score", average_reading_score], ["Average Math Score", average_math_score], ["Reading 70% or above", reading_pass], ["Reading Pass %", reading_percentage], ["Math 70% or above", math_pass], ["Math Pass %", math_percentage], ["Math & Reading 70% or above", overall_percentage]]
school_df
df=pd.DataFrame(school_df)
pd.options.display.float_format = "{:,.2f}".format
df
school_data_complete

NameError: name 'school_data_complete' is not defined

In [3]:
## School Sum
#schools
huang = school_data_complete.loc[(school_data_complete["school_name"] == "Huang High School")]
figueroa = school_data_complete.loc[(school_data_complete["school_name"] == "Figueroa High School")]
shelton = school_data_complete.loc[(school_data_complete["school_name"] == "Shelton High School")]
hernandez = school_data_complete.loc[(school_data_complete["school_name"] == "Hernandez High School")]
griffin = school_data_complete.loc[(school_data_complete["school_name"] == "Griffin High School")]
wilson = school_data_complete.loc[(school_data_complete["school_name"] == "Wilson High School")]
cabrera = school_data_complete.loc[(school_data_complete["school_name"] == "Cabrera High School")]
bailey = school_data_complete.loc[(school_data_complete["school_name"] == "Bailey High School")]
holden = school_data_complete.loc[(school_data_complete["school_name"] == "Holden High School")]
pena = school_data_complete.loc[(school_data_complete["school_name"] == "Pena High School")]
wright = school_data_complete.loc[(school_data_complete["school_name"] == "Wright High School")]
rodriguez = school_data_complete.loc[(school_data_complete["school_name"] == "Rodriguez High School")]
johnson = school_data_complete.loc[(school_data_complete["school_name"] == "Johnson High School")]
ford = school_data_complete.loc[(school_data_complete["school_name"] == "Ford High School")]
thomas = school_data_complete.loc[(school_data_complete["school_name"] == "Thomas High School")]
huang.describe()

School = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

School_Type = [(huang["type"]).unique(), (figueroa["type"]).unique(), (shelton["type"]).unique(), (hernandez["type"]).unique(), (griffin["type"]).unique(), (wilson["type"]).unique(), (cabrera["type"]).unique(), (bailey["type"]).unique(), (holden["type"]).unique(), (pena["type"]).unique(), (wright["type"]).unique(), (rodriguez["type"]).unique(), (johnson["type"]).unique(), (ford["type"]).unique(), (thomas["type"]).unique()]

Total_Students =[len(huang["Student ID"]), len(figueroa["Student ID"]), len(shelton["Student ID"]), len(hernandez["Student ID"]), len(griffin["Student ID"]), len(wilson["Student ID"]), len(cabrera["Student ID"]), len(bailey["Student ID"]), len(holden["Student ID"]), len(pena["Student ID"]), len(wright["Student ID"]), len(rodriguez["Student ID"]), len(johnson["Student ID"]), len(ford["Student ID"]), len(thomas["Student ID"])]

Total_Budget = [(huang["budget"].mean()), (figueroa["budget"].mean()), (shelton["budget"].mean()), (hernandez["budget"].mean()), (griffin["budget"].mean()), (wilson["budget"].mean()), (cabrera["budget"].mean()), (bailey["budget"].mean()), (holden["budget"].mean()), (pena["budget"].mean()), (wright["budget"].mean()), (rodriguez["budget"].mean()), (johnson["budget"].mean()), (ford["budget"].mean()), (thomas["budget"].mean())]

Budget_per_student =[(huang["budget"].mean())/len(huang["Student ID"]), (figueroa["budget"].mean())/len(figueroa["Student ID"]), (shelton["budget"].mean())/len(shelton["Student ID"]), (hernandez["budget"].mean())/len(hernandez["Student ID"]), (griffin["budget"].mean())/len(griffin["Student ID"]), (wilson["budget"].mean())/len(wilson["Student ID"]), (cabrera["budget"].mean())/len(cabrera["Student ID"]), (bailey["budget"].mean())/len(bailey["Student ID"]), (holden["budget"].mean())/len(holden["Student ID"]), (pena["budget"].mean())/len(pena["Student ID"]), (wright["budget"].mean())/len(wright["Student ID"]), (rodriguez["budget"].mean())/len(rodriguez["Student ID"]), (johnson["budget"].mean())/len(johnson["Student ID"]), (ford["budget"].mean())/len(ford["Student ID"]), (thomas["budget"].mean())/len(thomas["Student ID"])]

Average_Math_Score =[(huang["math_score"]).mean(), (figueroa["math_score"]).mean(), (shelton["math_score"]).mean(), (hernandez["math_score"]).mean(), (griffin["math_score"]).mean(), (wilson["math_score"]).mean(), (cabrera["math_score"]).mean(), (bailey["math_score"]).mean(), (holden["math_score"]).mean(), (pena["math_score"]).mean(), (wright["math_score"]).mean(), (rodriguez["math_score"]).mean(), (johnson["math_score"]).mean(), (ford["math_score"]).mean(), (thomas["math_score"]).mean()]

Average_Reading_Score =[(huang["reading_score"]).mean(), (figueroa["reading_score"]).mean(), (shelton["reading_score"]).mean(), (hernandez["reading_score"]).mean(), (griffin["reading_score"]).mean(), (wilson["reading_score"]).mean(), (cabrera["reading_score"]).mean(), (bailey["reading_score"]).mean(), (holden["reading_score"]).mean(), (pena["reading_score"]).mean(), (wright["reading_score"]).mean(), (rodriguez["reading_score"]).mean(), (johnson["reading_score"]).mean(), (ford["reading_score"]).mean(), (thomas["reading_score"]).mean()]

Percent_Passing_Math = [((huang["math_score"] >= 70).sum())/len(huang["Student ID"])*100, ((figueroa["math_score"] >= 70).sum())/len(figueroa["Student ID"])*100, ((shelton["math_score"] >= 70).sum())/len(shelton["Student ID"])*100, ((hernandez["math_score"] >= 70).sum())/len(hernandez["Student ID"])*100, ((griffin["math_score"] >= 70).sum())/len(griffin["Student ID"])*100, ((wilson["math_score"] >= 70).sum())/len(wilson["Student ID"])*100, ((cabrera["math_score"] >= 70).sum())/len(cabrera["Student ID"])*100, ((bailey["math_score"] >= 70).sum())/len(bailey["Student ID"])*100, ((holden["math_score"] >= 70).sum())/len(holden["Student ID"])*100, ((pena["math_score"] >= 70).sum())/len(pena["Student ID"])*100, ((wright["math_score"] >= 70).sum())/len(wright["Student ID"])*100, ((rodriguez["math_score"] >= 70).sum())/len(rodriguez["Student ID"])*100, ((johnson["math_score"] >= 70).sum())/len(johnson["Student ID"])*100, ((ford["math_score"] >= 70).sum())/len(ford["Student ID"])*100, ((thomas["math_score"] >= 70).sum())/len(thomas["Student ID"])*100]

Percent_Passing_Reading = [((huang["reading_score"] >= 70).sum())/len(huang["Student ID"])*100, ((figueroa["reading_score"] >= 70).sum())/len(figueroa["Student ID"])*100, ((shelton["reading_score"] >= 70).sum())/len(shelton["Student ID"])*100, ((hernandez["reading_score"] >= 70).sum())/len(hernandez["Student ID"])*100, ((griffin["reading_score"] >= 70).sum())/len(griffin["Student ID"])*100, ((wilson["reading_score"] >= 70).sum())/len(wilson["Student ID"])*100, ((cabrera["reading_score"] >= 70).sum())/len(cabrera["Student ID"])*100, ((bailey["reading_score"] >= 70).sum())/len(bailey["Student ID"])*100, ((holden["reading_score"] >= 70).sum())/len(holden["Student ID"])*100, ((pena["reading_score"] >= 70).sum())/len(pena["Student ID"])*100, ((wright["reading_score"] >= 70).sum())/len(wright["Student ID"])*100, ((rodriguez["reading_score"] >= 70).sum())/len(rodriguez["Student ID"])*100, ((ford["reading_score"] >= 70).sum())/len(ford["Student ID"])*100, ((johnson["reading_score"] >= 70).sum())/len(johnson["Student ID"])*100, ((thomas["reading_score"] >= 70).sum())/len(thomas["Student ID"])*100]

# test= [(len(huang.loc[(huang["math_score"] >= 70) & (huang["reading_score"]  >= 70)])/len(huang["Student ID"]))*100]

Overall_Passing= [(len(huang.loc[(huang["math_score"] >= 70) & (huang["reading_score"]  >= 70)])/len(huang["Student ID"]))*100], [(len(figueroa.loc[(figueroa["math_score"] >= 70) & (figueroa["reading_score"]  >= 70)])/len(figueroa["Student ID"]))*100], [(len(shelton.loc[(shelton["math_score"] >= 70) & (shelton["reading_score"]  >= 70)])/len(shelton["Student ID"]))*100], [(len(hernandez.loc[(hernandez["math_score"] >= 70) & (hernandez["reading_score"]  >= 70)])/len(hernandez["Student ID"]))*100], [(len(griffin.loc[(griffin["math_score"] >= 70) & (griffin["reading_score"]  >= 70)])/len(griffin["Student ID"]))*100], [(len(wilson.loc[(wilson["math_score"] >= 70) & (wilson["reading_score"]  >= 70)])/len(wilson["Student ID"]))*100], [(len(cabrera.loc[(cabrera["math_score"] >= 70) & (cabrera["reading_score"]  >= 70)])/len(cabrera["Student ID"]))*100], [(len(bailey.loc[(bailey["math_score"] >= 70) & (bailey["reading_score"]  >= 70)])/len(bailey["Student ID"]))*100], [(len(holden.loc[(holden["math_score"] >= 70) & (holden["reading_score"]  >= 70)])/len(holden["Student ID"]))*100], [(len(pena.loc[(pena["math_score"] >= 70) & (pena["reading_score"]  >= 70)])/len(pena["Student ID"]))*100], [(len(wright.loc[(wright["math_score"] >= 70) & (wright["reading_score"]  >= 70)])/len(wright["Student ID"]))*100], [(len(rodriguez.loc[(rodriguez["math_score"] >= 70) & (rodriguez["reading_score"]  >= 70)])/len(rodriguez["Student ID"]))*100], [(len(ford.loc[(ford["math_score"] >= 70) & (ford["reading_score"]  >= 70)])/len(ford["Student ID"]))*100], [(len(johnson.loc[(johnson["math_score"] >= 70) & (johnson["reading_score"]  >= 70)])/len(johnson["Student ID"]))*100], [(len(thomas.loc[(thomas["math_score"] >= 70) & (thomas["reading_score"]  >= 70)])/len(thomas["Student ID"]))*100]

school_tuples=zip(School, School_Type, Total_Students, Total_Budget, Budget_per_student, Average_Math_Score, Average_Reading_Score, Percent_Passing_Math, Percent_Passing_Reading, Overall_Passing)

school_overview_df = pd.DataFrame (school_tuples, columns= ["School", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

pd.options.display.float_format = "{:,.2f}".format
school_overview_df

NameError: name 'school_data_complete' is not defined

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
next
s = pd.Series(["% Overall Passing"])
pd.to_numeric(s, errors='coerce')

0   nan
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
my_groupby=school_overview_df["% Overall Passing"]
overall_passing_df = school_overview_df.sort_values(["% Overall Passing"], ascending=False)
overall_passing_df.head()

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,[Charter],1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,[91.33476856835307]
14,Thomas High School,[Charter],1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,[90.94801223241589]
4,Griffin High School,[Charter],1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,[90.59945504087193]
5,Wilson High School,[Charter],2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,[90.58256679807272]
9,Pena High School,[Charter],962,"585,858.00",609.00,83.84,84.04,94.59,95.95,[90.54054054054053]

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
lowest_performers_df = school_overview_df.sort_values(["% Overall Passing"], ascending=True)
lowest_performers_df.head()

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,[District],3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,[52.988247061765435]
1,Figueroa High School,[District],2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,[53.20447609359105]
0,Huang High School,[District],2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,[53.51388412752828]
3,Hernandez High School,[District],4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,[53.52750809061489]
13,Ford High School,[District],2739,"1,763,916.00",644.00,77.10,80.75,68.31,81.22,[53.53917244276413]

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

SyntaxError: invalid syntax (<ipython-input-19-c0834efe2402>, line 1)

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208